@model ChildHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="btn-group-vertical well">
    <button class="btn btn-primary"><h1><strong>@Model.Name</strong> @Model.AccountTotal ,-</h1></button>
    <div ><pre class="bg-info">
Dato        Beskrivelse      Beløb      Total
---------------------------------------------
@foreach (var transaction in Model.Transactions)
{
    @string.Format("{0,10}  {1,15}  {2,7}  {3, 7}{4}", transaction.Date.ToString("yyy-MM-dd"), transaction.Description, transaction.Amount, transaction.AccountTotal, Environment.NewLine)
}
</pre></div>
</div>


